<%- include("partials/header") %>
<div class= "container mid">
    <h2><%=post.title%></h2>
    <h5>Created at <span class="text-secondary"><%=post.create%></span></h5>
    <p><%=post.content%></p>
    
</div>
<%- include("partials/footer") %>